################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DragonGame/DragonGame.Logic/obj
/DragonGame/DragonGame.Logic/.config
/.vs
/DragonGame/DragonGame.Logic/.vs/DragonGame.Logic
/DragonGame/DragonGame.Logic/bin/Debug/net6.0
/DragonGame/DragonGame.Logic/Content/obj/DesktopGL/net6.0/Content
/DragonGame/DragonGame.Logic/Content/obj/DesktopGL
/DragonGame/DragonGame.Logic/Content/bin/DesktopGL
/DragonGame/DragonGame.Logic/.vs/ProjectEvaluation
